{% extends "base.html" %} {% block content %} {%- set date_format =
macros_translate::translate(key="date_format", default="%B %d, %Y",
language_strings=language_strings) -%}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<div class="articles">
    {%- for link in section.extra.links -%}
    <article>
        <header>
            <h2>
                <a
                    href="{{ link.url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    >{{ link.title }}</a
                >
            </h2>
            {% if link.date %}
            <small>{{ link.date | date(format=date_format) }}</small>
            {% endif %}
        </header>
        {% if link.description %}
        <p>{{ link.description }}</p>
        {% endif %}
    </article>
    {%- endfor -%}
</div>

{%- if paginator.pages -%}
<nav id="paginator">
    {%- if paginator.previous -%}
    <a id="paginator-previous" href="{{ paginator.previous }}">Previous</a>
    {% else %}
    <span id="paginator-previous">Previous</span>
    {%- endif -%}

    <span id="paginator-counter"
        >{{ paginator.current_index }} / {{ paginator.number_pagers }}</span
    >

    {%- if paginator.next -%}
    <a id="paginator-next" href="{{ paginator.next }}">Next</a>
    {%- else -%}
    <span id="paginator-next">Next</span>
    {%- endif -%}
</nav>
{%- endif -%} {% endblock content %}